a:hover {
	text-decoration: underline;
}
p {
	text-align: justify;
	text-justify: inter-word;
}
.content img {
	display: block;
	margin: 0px auto;
}
.crops {
	margin-left: 55px;
}
.crops img {
	display: inline;
	padding: 10px;
}
pre {
	color: #666;
	font-size: 60%;
	overflow: auto;
	margin: 0px auto;
}
.main_menu {
	margin: 0px auto;
	padding: 20px 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	text-decoration: none;
}
.main_menu a {
	color: #444;
	text-decoration: none;
}
.main_menu a:hover {
	text-decoration: underline;
}
.item_menu {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}
.content {
	max-width: 646px;
	margin: 0px auto;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #444;
	word-wrap: break-word;
}
.wide_content {
	max-width: 1000px;
	margin: 0px auto;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #444;
	word-wrap: break-word;
}
.content_title {
	font-weight: bold;
	font-size: 18pt;
}
.footnote {
	font-size: 8pt;
}
.footnotes {
	max-width: 75%;
	font-size: 10pt;
	word-wrap: break-word;
}
.content_date {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 8pt;
}
.content_tags {
    width: 100%;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 8pt;
}
.nav_text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 8pt;
	text-align: center;
}
.nav_text label {
	cursor: pointer;
}
.slide {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 25px 0px;
	width: 500px;
	height: 500px;
}
.slide img {
	width: 100%;
	height: 100%;
}
.slide_625 {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 25px 0px;
	width: 625px;
}
.slide_625 img {
	width: 100%;
	height: 100%;
}
.slide_wide {
	display: block;
	margin: 0px auto;
	padding: 0px 0px 25px 0px;
	width: 600px;
	height: 400px;
}
.slide_wide img {
	width: 100%;
	height: 100%;
}
.panoramic {
	margin: 0 auto;
}

.bmc-button img{width: 27px !important;margin-bottom: 3px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}
.bmc-button {line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-block !important;color:#FFFFFF !important;background-color:#FF813F !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 23px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#FFFFFF !important;}
