a:hover {
	text-decoration: underline;
}
p {
	text-align: justify;
	text-justify: inter-word;
}

.content img {
	display: block;
	margin: 0 auto;
}

.crops {
	margin-left: 55px;
}

.crops img {
	display: inline;
    padding: 10px;
}

pre {
	color: #666;
	font-size: 80%;
	overflow: auto;
	width: 600px;
}

.main_menu {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	margin-left: 0px;
	float: left;
	padding: 5px;
	width: 300px;
	position: fixed;
}
.sub_menu {
	display: block;
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size: 10pt;
	padding: 5px;
}
.sub_menu a {
	color: black;
	text-decoration: none;
}
.sub_menu a:hover {
	text-decoration: underline;
}
.item_menu {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	color: black;
	font-size: 8pt;
	padding: 5px;
}
.content {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size: 10pt;
	width: 600px;
    margin-left: 300px;
    padding: 10px;
}
.content_title {
	font-weight: bold;
}
.content_date {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	color: gray;
	font-size: 8pt;
}
.content_tags {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	color: gray;
	font-size: 8pt;
}
.nav_text {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	color: gray;
	font-size: 8pt;
    text-align: center;
	padding-top: 10px;
}

.nav_text label {
    cursor: pointer;
}

.menu_entry_1 a  { color: #151515; }
.menu_entry_2 a  { color: #1C1C1C; }
.menu_entry_3 a  { color: #424242; }
.menu_entry_4 a  { color: #585858; }
.menu_entry_5 a  { color: #6E6E6E; }
.menu_entry_6 a  { color: #848484; }
.menu_entry_7 a  { color: #A4A4A4; }
.menu_entry_8 a  { color: #BDBDBD; }
.menu_entry_9 a  { color: #D8D8D8; }
.menu_entry_10 a { color: #E6E6E6; }
