---
title: Blog Archive
layout: main_content
---

<div class="content_title"><center>Latest Posts</center></div>
{% for post in site.posts limit:2 %}
<br />
	<strong>{{ post.title }}</strong><br />
	<div class="content_date">
		{{ post.date | date: "%B %d, %Y" }}
	</div>
	{{ post.excerpt }}
	<a href="{{ post.url }}">Read More...</a><br />
	<br />
{% endfor %}

<div class="content_title"><center>Archive (<a href="http://leejo.github.io/feed.xml">RSS feed</a>)</center></div>
<br />
{% assign prev_year = 1 %}
{% for post in site.posts %}
	{% assign year = post.date | date: "%Y" %}
	{% if year != prev_year %}
		<div>
			<br />
			<strong>{{ year }}</strong>
		</div>
	{% endif %}
	<a href="{{ post.url }}">{{ post.title }}</a>
	<br />
	{% assign prev_year = year %}
{% endfor %}
