<div class="main_menu" id="main_menu">
	<li class="sub_menu" id="projects">
		Projects:
		<div class="item_menu">
			<a href="{{ site.url }}/projects/skateboarding/">Skateboarding (2004-2012)</a><br />
			<a href="{{ site.url }}/projects/the_green_the_blue_the_grey/">The Green The Blue The Grey (2013)</a><br />
		</div>
	</li>
	<li class="sub_menu" id="blog">
		Blog:
		<div class="item_menu">
			{% for post in site.posts limit:15 %}<a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}
			<a href="{{ site.url }}/blog/">Archive ...</a>
		</div>
	</li>
	<li class="sub_menu" id="tags">
		<a href="{{ site.url }}/tags/">Tags</a>
	</li>
	<li class="sub_menu" id="about">
		<a href="{{ site.url }}/about/">About</a>
	</li>
	<li class="sub_menu" id="home">
		<a href="{{ site.url }}/">Home</a>
	</li>
	<li class="sub_menu" id="badges">
		<br />
		<a href="{{ site.url }}/feed.xml"><img src="{{ site.url }}/images/rss_32x32.png" alt="RSS Feed" width="16px" height="16px" /></a>
		<a href="https://github.com/leejo"><img src="{{ site.url }}/images/github_32x32.png" alt="GitHub" width="16px" height="16px" /></a>
		<a href="http://instagram.com/leejebay?ref=badge"><img src="{{ site.url }}/images/instagram_32x32.png" alt="Instagram" width="16px" height="16px" /></a>
		<br />
		<a href="https://twitter.com/lee_a_j"><img src="{{ site.url }}/images/trr_32x32.png" alt="Twitter" width="16px" height="16px" /></a>
		<a href="http://ch.linkedin.com/pub/lee-johnson/73/765/446/"><img src="{{ site.url }}/images/linkedin_32x32.png" alt="LinkedIn" width="16px" height="16px" /></a>
		<a href="https://www.facebook.com/leejebay"><img src="{{ site.url }}/images/fbook_32x32.png" alt="Facebook" width="16px" height="16px" /></a>
	</li>
</div>
