<!DOCTYPE html>
<html>
	{% include header.html %}
	<body>
		{% include main_menu.html %}
		<div class="content">
			<div class="content_title">
				<center>{{ page.title }}</center>
			</div>
			<div class="content_date">
				<center>
				{{ page.date | date: "%B %d, %Y" }} (
				{% for post in site.posts %}
					{% if post.url == page.url %}
						{% assign prev_page = forloop.index %}
						{% assign next_page = forloop.index | minus:2 %}
					{% endif %}
					{% if forloop.last %}
						{% assign size = forloop.index %}
					{% endif %}
				{% endfor %}
				{% if prev_page < size %}
					<a href="{{ site.posts[prev_page].url }}">Prev</a>
				{% else %}
					Prev
				{% endif %}
				/
				{% if next_page >= 0 %}
					<a href="{{ site.posts[next_page].url }}">Next</a>
				{% else %}
					Next
				{% endif %}
			)
				</center>
			</div>
			{{ content }}
			<div class="content_tags">
				{% for tag in page.tags %}
					<a href="/tags/{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
